:root {
    --primary-color: #f6484d;
    --title-color: #e62e2d;
}

/* header part */
.header-default {
    /* padding: 0; */
    padding-bottom: 3.2em;
    background: #f1f1f1 url(../images/headerbg.png) no-repeat left;
    background-size: 63% 100%;
}

.header-contact {
    padding: .57em 0;
    padding-right: 3em;
}

.header-contact p {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #666;
}

/* navigation menu */

.header-default .navigation-menu {
    padding: 0 2.7em;
}

.header-default .navbar {
    background: #fff;
    padding: 5px 26px;
    padding-bottom: 2px;
    padding-right: 30px;
    border-radius: 5px;
    text-transform: uppercase;
    z-index: 999;
}

.header-default .navbar .navbar-collapse {
    justify-content: flex-end !important;
}

.header-default .navbar .navbar-nav ul {
    margin: 0;
    padding: 0;
}

.header-default .navbar .navbar-nav li {
    margin: 0 25px 0 0;
    font-weight: 500;
}

.header-default .navbar .navbar-nav li.toggle-bar {
    margin: 0;
}

.header-default .navbar .navbar-nav a {
    margin: 0;
    line-height: 1;
    padding: 5px 0 !important;
    font-size: 14px;
    font-weight: 600;
    color: #252525;
    letter-spacing: 0.037em;
    transition: .7s ease all;
    border-bottom: 3px solid transparent;
}

.header-default .navbar .navbar-nav li.active>a, .header-default .navbar .navbar-nav a:hover {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

.header-default .navbar .navbar-nav li a.cart-item {
    border: none;
    color: #777;
    font-size: .85rem;
    margin: 0;
}

.header-default .navbar .navbar-nav li a.cart-item p {
    margin: 0;
    line-height: 17px;
    letter-spacing: 0;
}

.header-default .navbar .navbar-nav li a.cart-item p:last-child {
   text-transform: capitalize;
}

.header-default .navbar .navbar-nav li a.cart-item span {
    margin-right: 7px;
}

.header-default .navbar .navbar-nav li a.cart-item span.total-count {
    font-size: .95rem;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    color: var(--title-color);
}

.header-default .navbar .navbar-nav li.toggle-bar {
    cursor: pointer;
}

.header-default .navbar .navbar-nav li.toggle-bar div{
    width: 22px;
    height: 4px;
    background: #000;
    margin: 3.5px 0;
}

.header-default .navbar .navbar-nav li .dropdown-menu {
    border-radius: 0;
    padding: 0;
    border: none;
    width: 180px;
    box-shadow: 0px 0px 5px #0003;
    transition: .5s ease all;
    opacity: 0;
    transform: translateY(2em);
}

.header-default .navbar .navbar-nav li .dropdown-menu {
    transition: .5s ease all;
    transform: translateY(0);
    opacity: 1;
}

.header-default .navbar .navbar-nav li > .dropdown-menu #navbarDropdown {
    display: none;
}

.header-default .navbar .navbar-nav li > .dropdown-menu a {
    padding: .8em !important;
    font-weight: 500;
    text-transform: capitalize;
    font-size: .9rem;
    border-bottom: 1px solid #d4d4d4;
}

.header-default .navbar .navbar-nav li > .dropdown-menu a:hover {
    color: #fff;
    background: var(--primary-color);
}